<md-card>
  <md-card-content id="container">
    <md-input-container color="warn">
      <h2><input mdInput placeholder="Piada" type="text"></h2>
      <md-hint>O que um pinguim disse para o outro?</md-hint>
    </md-input-container>
    <md-input-container>
    <input mdInput placeholder="Remate">
    <md-hint>Doce de leite!</md-hint>
    </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button md-button>Adicionar</button>
  </md-card-actions>
</md-card>
